body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    margin: 0;
    padding: 0;
}

h1 {
    text-align: center;
    color: #333;
    margin-top: 50px;
}

.flash-messages {
    list-style-type: none;
    padding: 0;
    margin: 20px 0;
}

.flash-messages li {
    color: #900;
    font-weight: bold;
}

.error-message {
    color: #900;
    font-weight: bold;
}

form {
    text-align: center;
    margin-top: 20px;
}

input[type="file"] {
    display: none;
}

button[type="submit"] {
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button[type="submit"]:hover {
    background-color: #45a049;
}

a {
    display: block;
    text-align: center;
    margin-top: 20px;
    color: #007bff;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

.custom-file-upload {
    display: inline-block;
    background-color: green;
    color: #fff;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 5px;
    font-size: 16px;
}

.custom-file-upload:hover {
    background-color: green;
}
