body {
    background-image: url('images/background.jpg');   
    background-repeat: no-repeat; /* Prevent image tiling */
    background-position: center; /* Center the image */
    background-size: cover; /* Stretch the image to cover the entire body */
    
      
  }
  