<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>DataViz: Error</title>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" integrity="sha384-0svjQEgQWvzfUJBWolznvYl3iMyeh8cVAwXEhuSKvQh5zNJIw6238FKHCWjPw/cp" crossorigin="anonymous"><!-- Added bootstrap link -->
  <!--<link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}"> -->
</head>
<body>
  <h1>DataViz: An Error Occurred</h1>
  <p>We encountered an issue while processing your dataset.</p>

  {% if message %}
    <p class="error-message">{{ message }}</p>
  {% endif %}

  <a href="{{ url_for('index') }}">Go back to Upload Dataset</a>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script><!-- Added bootstrap link -->
</body>
</html>