<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>DataViz:Interactive Data Visualization App</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
  <h1>Welcome to Interactive Data Visualization App!</h1>

  {% with messages = get_flashed_messages() %}
    {% if messages %}
      <ul class="flash-messages">
        {% for msg in message %}
          <li>{{ msg }}</li>
        {% endfor %}
      </ul>
    {% endif %}
  {% endwith %}

  <form action="{{ url_for('upload_dataset') }}" method="post" enctype="multipart/form-data">
    <label for="file-upload" class="custom-file-upload">
        <i class="fa fa-cloud-upload"></i> Upload Dataset
    </label>
    <input type="file" id="file-upload" name="dataset" accept=".csv,.xlsx,.xls">
    <button type="submit">Submit</button>
  </form>

  <a href="{{ url_for('list_files') }}">View Uploaded Files</a> <!-- Place the link here -->
  <script src="{{ url_for('static', filename='script.js') }}"></script>
</body>
</html>
